@page "/LearnBlazor/BindProp"




Data binding process establishes a connection between the UI and application.
It separates the view logic from the business logic

<h3>Product - Data Binding</h3>

@Product.Id  <br />
@Product.Name <br/>
@Product.Price <br/>
@Product.IsActive <br/>

@code {
    Models.Product Product = new()
        {
            Id = 1,
            Name = "Great Things",
            Price = 88,
            IsActive = true,
    };

}
